body {
    font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    border-bottom: #0D3538;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

img.logo {
    align-self: center;
}


ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.1;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #536140;
    flex-shrink: 1;
}

a:hover {
    color: black;
    text-shadow: 2px 1px 3px #0D3538;
}

.strip-1 {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fafafa;

}

h1 {
    font-weight: bold;
    font-stretch: normal;
    font-size: 40px;
    color: #0D3538;
    margin: 0px;
    padding: 20px;
    font-size: 5.9vw;
}

h2 {
    font-weight: lighter;
    font-size: 3.4vw;
    margin: 0px;
    padding: 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 100%;
    margin: auto;
}

.image-container {
    display: flex;
    max-width: 50%;
    max-height: 50%;
    margin: 25px;
    border: #0D3538;
    border-style: solid;
    border-width: 15px;
}

img.pic-1 {
    width: 100%;
    height: auto;
}

.strip-2 {
    display: flex;
    background-color: #8c9482;
    flex-direction: column;
    padding: 15px;
   
}

.header-2 {
   text-align: center;
}

.container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.strip-3 {
    background-color: #807672;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.quote {
    font-size: 20px;
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: lighter;
    width: auto;
    padding: 15px;
}

.strip-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0D3538;
}

.cta-container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

h3#NP {
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5.1vw;
    width: 75%;
    justify-content: center;
    align-items: left;
    padding: 10px;
}

.cta-button {
    display: flex;
    flex-wrap: wrap;
    padding: none;
    width: 25%;
    justify-content: center;
    align-items: baseline;
    }

.contact-button {
    background-color: #536140;
    border: none;
    font-size: 18px;
    color: white;
    padding: 8px;
}

.contact-button:hover {
    background-color: #8c9482;
    color: black;
    padding: 9px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    margin-top: auto;
}
